.card__accomodation--popular,
.card__wrap--inner--popular,
.card__accomodation__stars--popular {
  display: flex;
}

.card__wrap--inner--popular {
  width: 100%
}

.card__accomodation--popular {
  flex-direction: row;
  column-gap: 3%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: 5px solid #fff;
  background: #fff;
  width: 100%;
}

.hotel__picture--popular {
  display: flex;
  width: 38.138%;
  height: 135px;
}

img.hotel__pic {
  object-fit: cover;
  width: 100%;
}

.card__text__container--popular {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 61.86%;
  padding: 12.5px 11px 10px 9px;
}

.card__accomodation__stars--popular {
  justify-self: flex-end;
}

.card__accomodation--popular p {
  font-size: 13px;
}

.card__accomodation--popular:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}
