.card,
.card__wrap--inner,
.card__stars {
  display: flex;
}

.card__wrap--inner {
  width: 31%
}

.card__accomodation {
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  border: 5px solid #fff;
  background: #fff;
  width: 100%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: ease-out 0.3s;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
  object-fit: cover;
}

.card p {
  font-size: 90%;
}

.fa-star {
  color: var(--color-primary);
  font-size: 90%;
  margin-right: 1px;
}

.fa-star.star--empty {
  color: #d9d9d9;
}