.card__accomodation,
.card__wrap--inner,
.card__accomodation__stars {
  display: flex;
}

.card__wrap--inner {
  width: 31%
}


.card__accomodation {
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: 5px solid #fff;
  background: #fff;
  width: 100%;
}


.card__accomodation img {
  display: block;
  height: 114px;
  object-fit: cover;
}

.card__accomodation h3 {
  flex-grow: 1;
}

.card__text__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 12.5px 11px 6px 11px;
}

.card__accomodation p {
  font-size: 13px;
  margin-top: 4px;
}

.fa-star {
  color: var(--color-primary);
  font-size: 12px;
}
.fa-star.star--empty {
  color: #d9d9d9;
}

.card__accomodation:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}

