/* Raleway font import*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

/* Global variables */
:root {
    --color-primary: #0065FC;
    --color-secondary: #DEEBFF;
    --color-neutral: #F2F2F2;
    --form-border-radius: 15px;
    --filter-size: 50px;
}

/* Base */

* {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', Arial, sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

p {
    margin: 8px 0;
}

h1, h2 {
    font-size: 21.5px;
    font-weight: 700;
    margin: 10px 0;
}

h3 {
    font-size: 16px;
    font-weight: 700;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    outline: var(--color-primary) 2px solid;
}

button,
input {
    font-family: inherit;
    cursor: pointer;
    border: none;
}

i {
    display: inline-block;
}


.main__wrapper,
.header__footer__wrapper {
    width: 95%;
    max-width: 1340px;
}

.main__wrapper {
    margin: 0;
}


/********** Header **********/

header {
    width: 100%;
    padding-top: 50px; 
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

header img {
    height: 64px; /* Logo's height approximately twice nav link's font size */
    position: relative;
    top: -11.4px; /* Calculated to compensate upper margin of .png file after resize */
    left: 15px;
}

header ul {
    display: flex;
    gap: 32.5px;
}

header a {
    padding: 47px 25px 0px 25px; /* top padding = (header top-padding) - (link border-top thickness) */
    border-top: 3px #fff solid;
}

header a:hover {
    border-top: 3px var(--color-primary) solid ;
    color: var(--color-primary);
}



/********** Form **********/

.search__section {
    margin-bottom: 37.5px;
}

.search__section__text {
    margin-bottom: 20px;
}

form {
    margin: 20px 0;
}

.form__container {
    width: 420px;
    height: 50px;
    display: flex;
    border-radius: var(--form-border-radius);
    font-size: 17px;
}

.form__container * {
    display: block;
    font-weight: 700;
    font-size: 17px;
}

.form__label {
    background: var(--color-neutral);
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--form-border-radius) 0 0 var(--form-border-radius);
}

form input {
    outline: none;
    border: 0px;
}

.form__text {        
    min-width: 56%;
    padding-left: 17.5px;
    border-top: 1px solid var(--color-neutral);
    border-bottom: 1px solid var(--color-neutral);
    flex-grow: 2;
}

.form__btn {
    padding: 17.5px;
    color: #fff;                
    background-color: var(--color-primary);
    border-radius: 0 var(--form-border-radius) var(--form-border-radius) 0;
    display: flex;
    align-items:center;
    margin-left: calc(0px - var(--form-border-radius)); /* prevent border discontnuity in mobile version  */
}

.form__btn i {
    display: none;
}

.form__btn:hover {
    outline-offset: -2px;
    outline: 2px solid var(--color-primary);
    background: #fff;
    color: var(--color-primary);
    transition: ease 190ms;
}


/********** Filters **********/
.search__filters,
.search__filters__list,
.search__filters__list a {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 17px;
}


.search__filters {
    column-gap: 32px;
    margin: 30px 0;
}

.search__filters__list {
    flex-wrap: wrap;
    column-gap: 24px;
}

.search__filters__list a {
    height: var(--filter-size);
    border: 2px solid var(--color-neutral);
    border-radius: var(--filter-size);
    overflow: visible;
}

.search__filters__list i {

    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--filter-size);
    width: var(--filter-size);
    background: var(--color-secondary);
    border-radius: 50%;
    color: var(--color-primary);
    margin-left: -2px; /* negative margin  */
}

.search__filters__list p {
    padding: 0 20px 0px 13px;
}

.search__filters__list a:hover > i {
    color: #fff;
    background: var(--color-primary);
    transition: all ease 200ms;
}
.search__filters__list a:hover {
    border: 2px solid var(--color-primary);
    transition: all ease 200ms;
}

.search__results .fa-info {
    color: var(--color-primary);
}
.search__results .fa-circle {
    color: var(--color-neutral);
}


/********** Accomodation **********/
.accomodation {
    display: flex;
    margin: 35px 0 55px 0;
    justify-content: space-between;
}
.accomodation__list,
.accomodation__popular {
    background: var(--color-neutral);
    border-radius: 16px;
    padding: 22px 2% 0px 2%;
}

.accomodation__list {
    width: 66.6666%;
}

.accomodation__popular {
    width: 30%;
}

.accomodation__popular__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accomodation__popular__title i {
    font-size: 21px;
}

.card__wrap--outer {
    margin: 23px 0 43px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 30px;
}

.accomodation__popular .card__wrap--outer {
    margin: 13px 0 43px 0;
}

.show__more {
    font-size: 17px;
    font-weight: 700;
    margin: 20px 0;
}

.show__more:hover {
    color: var(--color-primary);
    transition: ease 150ms;
}


/********** Activities section **********/

.activities .card__wrap--outer {
    column-gap: 20px;
    flex-wrap: nowrap;
}

.column__card,
.column__wrap,
.row__card__left--bottom,
.row__card__left--top,
.row__card__right--bottom,
.row__card__right--top {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.column__card,
.row__card__left--bottom,
.row__card__left--top,
.row__card__right--bottom,
.row__card__right--top {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    overflow: hidden;
}

.column__wrap {
    width: 25%;
    max-width: 302px;
    height: 445px;
    row-gap: 30px;
    
}

.column__card {
    height: 100%;
}

.row__card__left--top {
    height: 60%;
}

.row__card__left--bottom {
    height: 40%;
}

.row__card__right--top {
    height: 48%;
}

.row__card__right--bottom {
    height: 52%;
}
.activities img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card__image {
    overflow: hidden;
    height: calc(100% - 56px);
}

.card__title {
    min-height: 50px;
    display: flex;
    align-items: center;
    padding: 20px 12px 20px 19px;
}



/********** Media queries **********/
@media screen and (max-width : 991px) {
    .search__filters {
        flex-direction: column;
        align-items: flex-start;
    }

    .search__filters__list {
        gap: 13px 10px;
        justify-content: space-between;
        width: 100%;
        max-width: 780px;
    }

    .search__filters__list p {
        padding: 0 15px 0px 10px;
        font-size: 16px;
    }

    /* Accomodation section */
    .accomodation {
        flex-direction: column-reverse;
    }
    .accomodation__list,
    .accomodation__popular {
        width: 100%;
    }
    .accomodation__list {
        background: #fff;
    }

    /* Card popular accomodation */
    .card__wrap--inner--popular {
        width: 31%;
      }
    .card__accomodation--popular {
        flex-direction: column;
        column-gap: none;
    }
    .hotel__picture--popular {
        height: 114px;
        min-width: 100%;
    }
    img.hotel__pic {
        display: block;
        object-fit: cover;
        min-width: 100%;
    }
    .card__text__container--popular {
        width: 100%;
        height: 100%;
        padding: 12.5px 11px 6px 11px;
        justify-content: none;
    }

    /* Activities */
    .activities .card__wrap--outer {
        flex-wrap: wrap;
    }

    .activities>.card__wrap--outer>*:nth-child(3) {
        order: 4;
    }
    .column__wrap {
        width: 50%;
        max-width: calc(50% - 20px);
    }
}
@media screen and (max-width : 767px) {

    /* General */

    .header__footer__wrapper {
        width: 100%;
    }
    .main__wrapper {
        width: 100%;
    }



    /* Header */
    header {
        flex-direction: column;
        padding: 30px 0px 0px;
        align-items: center;
        row-gap: 26px;
    }

    header img {
        top: 0px;
        left: 25px; /* half the right margin of .png image after resize*/
    }

    header nav,
    header ul {
        width: 100%;
    }

    header ul {
        gap: 0;   
    }

    header li {
        width: 50%;
        text-align: center;
    }
    
    header a {
        display: block;
        padding: 13px 0;
        border-bottom: 3px var(--color-neutral) solid ;
    }
    
    header a:hover {
        border-top: none;
        border-bottom: 3px var(--color-primary) solid ;
    }

    /* Form */
    .search__section {
        padding: 0 3%;
    }

    .form__container {
        width: 100%;
    }

    .form__btn {
        border-radius: var(--form-border-radius);
    }

    .form__btn i {
        display: inline-block;
    }

    .form__btn span {
        display: none;
    }

    /* Filters */
    .search__filters {
        row-gap: 10px;
    }
    .search__filters__list {
        justify-content: flex-start;
    }

    /* Accomodation section */

    .accomodation__list,
    .accomodation__popular {
        border-radius: 0px;
        padding: 22px 3% 0px 3%;
    }

    .card__wrap--outer {
        row-gap: 10px;
    }

    /* Main accomodation list */
    .card__wrap--inner, 
    .card__wrap--inner--popular {
        width: 100%;
    }

    /* Card popular accomodation */

    .card__accomodation--popular {
    flex-direction: row;
    column-gap: none;
    }
    .hotel__picture--popular {
    min-width: 38%;
    }
}