/* Global variables */
:root {
    --color-primary: #0065FC;
    --color-secondary: #DEEBFF;
    --color-neutral: #F2F2F2;
    --form-border-radius: 12px;
    --filter-size: 40px;
    --padding-mobile: 5%;
    --page-max-width: 1340px;
}

/* Base */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

body {
    font-family: 'Raleway', Arial, sans-serif;
    color: #000;
    font-size: 100%;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

p {
    margin: 8px 0;
}

h1, h2 {
    font-size: 134.375%;
    font-weight: 700;
    margin: 10px 0;
}

h3 {
    font-size: 100%;
    font-weight: 700;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input {
    font-family: inherit;
    cursor: pointer;
    border: none;
}

i {
    display: inline-block;
}

strong {
    font-size: inherit;
}

/********** Header **********/

header {
    width: 100%;
}

.header__wrapper {
    width: 95%;
    max-width: var(--page-max-width);
    margin: 0 auto;
    padding-top: 50px; 
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

header img {
    height: 51px; /* Logo's height approximately twice nav link's font size */
    position: relative;
    top: -10px; /* Calculated to compensate upper margin of .png file after resize */
    left: 15px;
}

header ul {
    display: flex;
    gap: 20px;
}

header a {
    padding: 48px 15px 0px 15px; /* top padding = (header top-padding) - (link border-top thickness - 1)  */
    border-top: 3px transparent solid;
}

header a:hover {
    border-top: 3px var(--color-primary) solid ;
    color: var(--color-primary);
}

/********** Main **********/

.main__wrapper {
    width: 94%;
    max-width: var(--page-max-width);
    margin: 0 auto;
    margin: 0;
}


/********** Form **********/

.search__section {
    margin-bottom: 37.5px;
}

.search__section__text {
    margin-bottom: 20px;
}

form {
    margin: 20px 0;
}

.form__container {
    width: 33%;
    min-width: 311px;
    height: 40px;
    display: flex;
    border-radius: var(--form-border-radius);
}

.form__container * {
    display: block;
    font-weight: 700;
}

.form__label {
    background: var(--color-neutral);
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--form-border-radius) 0 0 var(--form-border-radius);
}

.form__label,
form input,
button span {
    font-size: 106.25%;
}

form input {
    outline: none;
    border: 0px;
}

.form__text {        
    min-width: 56%;
    padding-left: 10px;
    border-top: 1px solid var(--color-neutral);
    border-bottom: 1px solid var(--color-neutral);
    border-left: 1px solid transparent;
    flex-grow: 2;
}

.form__text::placeholder {
    font-weight: 500;
}

.form__text:hover {
    cursor: text;
}

.form__text:focus {
    border: 1px solid var(--color-primary);
}

.form__btn {
    padding: 12px;
    color: #fff;                
    background-color: var(--color-primary);
    border-radius: 0 var(--form-border-radius) var(--form-border-radius) 0;
    display: flex;
    align-items:center;
    margin-left: calc(0px - var(--form-border-radius)); /* prevent border discontnuity in mobile version  */
}

.form__btn i {
    display: none;
}

.form__btn:hover {
    outline-offset: -2px;
    outline: 2px solid var(--color-primary);
    background: #fff;
    color: var(--color-primary);
    transition: ease 190ms;
}


/********** Filters **********/
.search__filters,
.search__filters__list,
.search__filters__list a {
    display: flex;
    align-items: center;
}

.search__filters {
    column-gap: 25px;
    margin: 30px 0;
    width: 75%;
}

.search__filters__list {
    flex-wrap: nowrap;
    column-gap: 15px;
}

.search__filters__list a {
    height: var(--filter-size);
    border: 2px solid var(--color-neutral);
    border-radius: var(--filter-size);
    overflow: visible;
}

.search__filters__list i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--filter-size);
    width: var(--filter-size);
    background: var(--color-secondary);
    border-radius: 50%;
    color: var(--color-primary);
    margin-left: -2px; /* negative margin  */
    font-size: 106.25%;
}

.search__filters p {
    font-weight: 700;
    font-size: 106.25%;
}

.search__filters__list p {
    padding: 0 13px 0px 10px;
}

.search__filters__list a:hover > i {
    color: #fff;
    background: var(--color-primary);
    transition: all ease 200ms;
}
.search__filters__list a:hover {
    border: 2px solid var(--color-primary);
    transition: all ease 200ms;
}

.search__results {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.fa-stack {
    align-self: flex-start;
}
.search__results .fa-info {
    color: var(--color-primary);
    font-size: 12px;
}

.search__results .fa-circle {
    color: var(--color-neutral);
}


/********** Accomodation **********/
.accomodation {
    display: flex;
    margin: 35px 0;
    justify-content: space-between;
    flex-wrap: nowrap;
    column-gap: 3%;
}
.accomodation__list,
.accomodation__popular {
    background: var(--color-neutral);
    border-radius: 16px;
    padding: 22px 2% 22px 2%;
}

.accomodation__list {
    width: 66.667%;
    position: relative;
}

.accomodation__popular {
    width: 33.333%;
}

/* Accomodation - list */

.hotel__picture {
    width: 100%;
    height: 85px;
}

.card__accomodation img {
    height: 100%;
    width: 100%;
}

.card__accomodation h3 {
    flex-grow: 1;
}

.card__text__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 11px 11px 6px 11px;
}

.card__accomodation p {
    margin: 2px 0 4px 0;
}

.show__more {
    display: block;
    font-size: 106.25%;
    font-weight: 700;
    margin: 20px 0;
}

.show__more:hover {
    color: var(--color-primary);
    transition: ease 150ms;
}


/* Accomodation - popular */

.accomodation__popular__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accomodation__popular__title i {
    font-size: 134.375%;
}

.card__wrap--outer {
    margin: 23px 0 43px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 25px;
}

.accomodation__popular .card__wrap--outer {
    margin: 13px 0 10px 0;
}

.card__accomodation--popular,
.card__wrap--inner--popular,
.card__accomodation__stars--popular {
  display: flex;
}

.card__wrap--inner--popular {
  width: 100%
}

.card__accomodation--popular {
  flex-direction: row;
  column-gap: 3%;
  width: 100%;
}

.hotel__picture--popular {
  width: 38.138%;
  height: 100px;
}

img.hotel__pic {
  width: 100%;
  height: 100%;
}

.card__text__container--popular {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 61.86%;
  padding: 12.5px 13px 10px 5px;
}

.accomodation__popular .card__stars {
  margin-top: auto;
}



/********** Activities section **********/
.activities {
    padding-top: 10px;
}
.activities .card__wrap--outer {
    column-gap: 20px;
    flex-wrap: nowrap;
}

.column__card,
.column__wrap,
.row__card__left--bottom,
.row__card__left--top,
.row__card__right--bottom,
.row__card__right--top {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.column__wrap {
    width: 25%;
    max-width: 302px;
    height: 300px;
    row-gap: 20px; 
}

.column__card {
    height: 100%;
}

.row__card__left--top {
    height: 60%;
}

.row__card__left--bottom {
    height: 40%;
}

.row__card__right--top {
    height: 48%;
}

.row__card__right--bottom {
    height: 52%;
}
.activities img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card__image {
    overflow: hidden;
    height: 100%;
}

.card__title {
    min-height: 40px;
    display: flex;
    align-items: center;
    padding: 15px 12px 15px 19px;
}

/********** Footer **********/
footer {
    background: var(--color-neutral);
    width: 100%;
    padding: 40px 0;
}

.footer__wrapper {
    width: 95%;
    max-width: var(--page-max-width);
    margin: 0 auto;
}

.footer__wrapper,
.footer__wrapper--inner {
    display: flex;
}

.footer__wrapper--inner {
    width: 75%;
    /* max-width: 750px; */
    justify-content: space-between;
}

footer p {
    font-size: 106.25%;
    font-weight: 700;
}

footer li {
    font-size: 100%;
    font-weight: 500;
    margin: 15px 0;
}
footer a:hover {
    color: var(--color-primary);
}

/********** Media queries **********/
@media screen and (max-width : 991px) {
    :root {
        --filter-size: 50px; 
    }
    * {
        font-size: 14px;
    }

    .form__container {
        width: 33%;
        min-width: 370px;
    }
    
    .search__filters {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .search__filters__list {
        gap: 13px 10px;
        width: 100%;
    }

    .search__filters__list p {
        padding: 0 15px 0px 10px;
        font-size: 100%;
    }

    .card__accomodation,
    .card__accomodation--popular {
        border-width: 5px;
    }
    /* Accomodation section */
    .accomodation {
        flex-direction: column-reverse;
        margin-bottom: 0;
    }
    .accomodation__list,
    .accomodation__popular {
        width: 100%;
    }
    .accomodation__list {
        background: #fff;
    }
    .hotel__picture {
        height: 100px;
        min-width: 100%;
    }



    /* Card popular accomodation */
    .card__wrap--inner--popular {
        width: 31%;
      }
    .card__accomodation--popular {
        flex-direction: column;
        column-gap: 0;
    }
    .hotel__picture--popular {
        height: 100px;
        min-width: 100%;
    }
    .accomodation__popular h3 {
        margin-bottom: 4px;
    }
    .accomodation__popular p {
        margin-top: auto;
    }
    .accomodation__popular .card__stars {
        margin-top: 0;
    }

    img.hotel__pic {
        display: block;
        object-fit: cover;
        min-width: 100%;
    }
    .card__text__container--popular {
        width: 100%;
        /* padding: 12.5px 11px 6px 11px; */
    }


    /* Activities */

    .activities {
        padding-left: 2%;
        padding-right: 2%;
    }
    .activities .card__wrap--outer {
        flex-wrap: wrap;
        column-gap: 0px;
    }

    .activities>.card__wrap--outer>*:nth-child(3) {
        order: 4;
    }
    .column__wrap {
        width: 50%;
        max-width: calc(50% - 10px);
        height: 400px;
    }

    /* Footer */
    .footer__wrapper--inner {
        width: 100%;
    }
    
}
@media screen and (max-width : 767px) {

    /* General */
    * {
        font-size: 16px;
    }
    .main__wrapper,
    .footer__wrapper {
        width: 100%;
    }

    /* Header */
  
    .header__wrapper {
        width: 100%;
        flex-direction: column;
        padding: 30px 0px 0px;
        align-items: center;
        row-gap: 26px;
    }

    header img {
        top: 0px;
        left: 19.5px; /* half the right margin of .png image after resize*/
    }

    header nav,
    header ul {
        width: 100%;
    }

    header ul {
        gap: 0;   
    }

    header li {
        width: 50%;
        text-align: center;
    }
    
    header a {
        display: block;
        padding: 13px 0;
        border-bottom: 3px var(--color-neutral) solid ;
    }
    
    header a:hover {
        border-top: 3px solid transparent;
        border-bottom: 3px var(--color-primary) solid ;
    }

    /* Form */
    .search__section {
        padding: 0 var(--padding-mobile);
    }

    .form__container {
        width: 100%;
        min-width: 100%;
    }

    .form__btn {
        border-radius: var(--form-border-radius);
    }

    .form__btn i {
        display: inline-block;
    }

    .form__btn span {
        display: none;
    }

    /* Filters */
    .search__filters {
        row-gap: 10px;
    }

    .search__filters__list {
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    /* Accomodation section */
    
    .accomodation__list,
    .accomodation__popular {
        border-radius: 0px;
        padding: 22px var(--padding-mobile) 25px var(--padding-mobile);
    }

    .card__wrap--outer {
        row-gap: 10px;
    }


    /* Main accomodation list */
    .card__wrap--inner, 
    .card__wrap--inner--popular {
        width: 100%;
    }

    .hotel__picture {
        height: 125px;
        min-width: 100%;
    }

    /* Card popular accomodation */

    .card__accomodation--popular {
        flex-direction: row;
        column-gap: 0;
        height: 125px;
    }
    .hotel__picture--popular {
        min-width: 38%;
        height: 100%;
    }

    .accomodation__popular h3 {
        margin-bottom: 4px;
    }
    .accomodation__popular p {
        margin-top: 0;
    }
    .accomodation__popular .card__stars {
        margin-top: auto;
    }
    .card__text__container--popular {
        padding-left: 12px;
    }

    /* Activities */

    .activities {
        padding: 0 var(--padding-mobile);
    }

    .activities>.card__wrap--outer>*:nth-child(3) {
        order: 3;
    }
    .activities>.card__wrap--outer>*:nth-child(4) {
        order: 4;
    }
    .activities .card__wrap--outer {
        row-gap: 15px;
    }
    .column__wrap {
        width: 100%;
        max-width: 100%;
        row-gap: 10px;
        height: auto;
        min-height: 100%;
    }

    .activities .card {
        height: 190px;
    }

    /* Footer */

    .footer__wrapper {
        width: 100%;
        padding: 0 var(--padding-mobile);
    }

    .footer__wrapper--inner {
        flex-direction: column;
        row-gap: 10px;
    }
}